body {
    padding: 24px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 60px;
}

